* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F1FAEE;
}

h1 {
    color: #E63946;
    font-family: 'Lobster';
    font-size: 600%;
}

p {
    color: black;
    font-family: 'Bree Serif';
    text-align: center;
    font-size: 135%;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

li {
    list-style: none;
    text-align: center;
    font-family: 'Bree Serif';
    text-decoration: none;
}

.flexContainer {
    display: flex;
    margin: auto;
    justify-content: space-around;
    margin: auto;
}

.navbar {
    font-family: 'Bree Serif';
    font-size: 110%;
}

.titulo {
    width: 100%;
    height: auto;
}


/*                  FOOTER                      */

/*                  FOOTER                      */



/*                  CONTACTO                    */
.formulario {
    font-family: 'Bree Serif';
    text-align: center;
}
/*                  CONTACTO                    */





/*                  UNIDADES                    */

/*                  UNIDADES                    */





/*                  EXPERIENCIAS                */

/*                  EXPERIENCIAS                */




/*                  NOSOTROS                    */

/*                  NOSOTROS                    */
