$imagAncho: 32px * 2;
$imagAlto: 32 * 2;

@each $tamanio in $imagAncho, $imagAlto {
    .imagenExperiencia {
        width: $tamanio;
        height: $tamanio;
    }
}

.carousel {
    border-radius: 25% 10%;
}