$fuente: 'Bree Serif';
$tamFuente: 110%;


@mixin fuenteNavbar($fuente, $tamFuente) {
    font-family: $fuente;
    font-size: $tamFuente;
}

.navbar {
    text-align: center;
    border-radius: 25% 10%;
    @include fuenteNavbar($fuente, $tamFuente);
}