/* PROBANDO OPERACION */
$ancho: 50%;




$p: (
    color: black,
    centro: center,
    fuente: 'Bree Serif',
    tamFuente: 135%,
);

p {
    color: map-get($p, color);
    text-align: map-get($p, centro);
    font-family: map-get($p, fuente);
    font-size: map-get($p, tamFuente);
}

.parrafo_nosotros {
    width: $ancho * 2;
    height: auto;
}