/* PROBANDO OPERACION */
$ancho: 50%;

p {
    color: black;
    text-align: center;
    font: {
        family: 'Bree Serif';
        size: 135%;
    };
}

.parrafo_nosotros {
    width: $ancho * 2;
    height: auto;
}